# Introduction to python

1. Basic arithmetic operations
2. Types
3. Variables
4. Comparaison operators 
5. Strings
6. Functions 
7. Conditions 
8. Boolean expressions
9. Loops 
10. Exeptions
11. Importing libraries

###  Basic arithmetic operations

In [1]:
#addition

In [ ]:
#substraction

In [100]:
#la puissance

8

In [101]:
#modulo

1

In [102]:
#division

3.5

In [103]:
#floor division

3

In [104]:
# division by zero

ZeroDivisionError: division by zero

### Types

In [105]:
# integer

int

In [106]:
#float

float

In [108]:
#casting int

2

In [110]:
#casting float

float

### Define a variable

In [113]:
# Define a variable a

# print a

5

In [114]:
# define 3 variables a,b,c 

# print the variables

1 2 3

### Comparaison operators

In [121]:
# Try operators < > >= <= == !=

False

### Strings

In [122]:
# Define a string variable called name 

#print the variable

devfest

In [127]:
#checking characters by indexes

's'

In [44]:
# Define a string variable called country  = l'Algerie 

#print the variable

L'algerie

In [128]:
#print the length of a string

7

In [129]:
#Basic concatenation

devfest

In [3]:
#Strings functions 
#define a variable named movie 
movie="mR beAn"
#title 
print(movie.title())
#lower
movie.lower()
#upper 
movie.upper()

Mr Bean

'MR BEAN'

In [4]:
#String formating
#define a variable called name and a variable called age 

#print a formatted string : my name is NAME and I am AGE years old

my name is p and i am 99 years old

In [63]:
#slicing

'789'

### Functions

In [64]:
#function with a return : calculate the area of a square

In [68]:
# test the function

16

In [69]:
#function without a return : print_title

In [74]:
#test the function

the title is  devfest

### Conditions

In [136]:
# create a function that compares two numbers

In [84]:
# test the function

10  is equal than  10

### Bolean expressions

In [135]:
#create a variable name and age

#and 

#or

### Loops

In [ ]:
# for loop using range 
#print numbers from 1 to 10

In [138]:
# while loop

0
1
2
3
4
5
6
7
8
9

### Exceptions

In [6]:
# division by zero exception

# index out of range

### Importing libraries

In [94]:
# import pi from math

In [95]:
# print pi

3.141592653589793

### Task 1 : 
Write a python function that calculates the number of pair numbers in a list of integers 
- Example : 
    - input : [2,6,7,8,9,10,65,76,6,8] 
    - output: 7

In [ ]:
# Task 1

#### Task 2 
Write a Python program to convert seconds to day, hour, minutes and seconds.
- Example :
    - input : 86399
    - output : day:hour:minutes:seconds-> 14:6:56:5

In [ ]:
# Task 2